[SYSTEM_VARIABLE]
1,HOST_PORT,9999,This is Host Port Number.
2,LOG_DAY,7,This is Truncate Log Days.
3,MCC118_CHANNEL_FLAG,1,This is enable for the [MCC118_CHANNEL_FLAG] config control.

[REMOTE_SERVER]
1,MCC_DAQ_HOST1,10.60.144.79,5000,This is MCC DAQ Host Server
2,MCC_DAQ_HOST2,10.60.144.79,6000,This is MCC DAQ Host Server

[MCC118_CHANNEL_FLAG]
1,CHANNEL_0,1,This is channel setting flag. 0 is disable, 1 is enable
2,CHANNEL_1,1,This is channel setting flag. 0 is disable, 1 is enable
3,CHANNEL_2,1,This is channel setting flag. 0 is disable, 1 is enable
4,CHANNEL_3,1,This is channel setting flag. 0 is disable, 1 is enable
5,CHANNEL_4,1,This is channel setting flag. 0 is disable, 1 is enable
6,CHANNEL_5,1,This is channel setting flag. 0 is disable, 1 is enable
7,CHANNEL_6,1,This is channel setting flag. 0 is disable, 1 is enable
8,CHANNEL_7,1,This is channel setting flag. 0 is disable, 1 is enable